/* Custom CSS Styles to override Bootstrap */

/* 273E47
  BD632F
  D8973C
  EDE6D1
  A4243B

  light bg
  #E9ECEF


/*
  ========================================
  SASS Variables
  ========================================
*/
$primary-col: #273e47;
$background-col: #e9ecef;
$highlight-col: #dfa95f;
$highlight-hov: #ede6d1;

/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background-color: $background-col;
  color: $primary-col;
  font: 300 16px/22px 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

h1,
h2,
h3,
h4 {
  color: $primary-col;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 28px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

strong {
  font-weight: 400;
}

cite,
em {
  font-style: italic;
}

.text-muted {
  color: $primary-col;
}

/*
==========================
NAVBAR
==========================
*/

#navbar {
  font-weight: 400;
  background-color: $primary-col;
}

#logo {
  color: $highlight-col;
}

#logo:hover {
  color: $highlight-hov;
}

/*
==========================
JUMBOTRON
==========================
*/

.jumbotron {
  padding-bottom: 0;
  margin-top: 20px;

  .lead {
    font-size: 18px;
  }
}

.cat-img {
  display: block;
  max-width: 720px;
  width: 100%;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px gray solid;
}

/*
==========================
FOOTER
==========================
*/

#footer {
  color: $highlight-col;
  background-color: $primary-col;
}

/*
===========================
CONTAINER
===========================
*/
.container .cat-info {
  margin-bottom: 40px;
}

/*
===========================
BUTTONS
===========================
*/

.btn-primary {
  color: $highlight-col;
  background-color: $primary-col;
  border-color: $primary-col;
}

.btn-primary:hover {
  @extend .btn-primary;
  color: $highlight-hov;
}

.new-nick {
  margin-bottom: 20px;
}

/*
==========================
TABLES
==========================
*/

table.table {
  margin-bottom: 5px;
}

th,
td {
  font-size: 12px;
  line-height: 12px;
}

/*
==========================
BLOG
==========================
*/

.blog-main {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Inherit from cat img */
.blog-post img.blog-img.center {
  display: block;
  max-height: 300px;
  max-width: 100%;
  margin: auto;
  border: 1px gray solid;
}

img.blog-img + p,
table + p {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

/*
==========================
PROJECTS
==========================
*/

p.tech-icons {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.tech-icons img {
  display: inline-block;
  max-height: 25px;
  padding-bottom: 3px;
}

.tech-icons img.larger {
  max-height: 30px;
}

/*
=============================
RESPONSIVE
=============================
*/

@media print {
  .nickname-gen {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .blog-post img.blog-img.center {
    max-width: 90vw;
    min-width: 300px;
  }
}
